// header

.logo-header {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.text-logo{
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0.5px 1px 1px #af40ff71;
}

.img-logo-header {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.header,
.navigation-header { 
    display: flex;
    flex-direction: row;
    align-items : center
}

.header{
    background-color:  #2d2d2d;
    box-shadow: 1px 1px 4px #1c1c1c;
    height: 3.5;
    justify-content: space-between;
    padding: 0% 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;

}

.navigation-header{
    gap: 3em;
    z-index: 2;
}

.navigation-header a{
    text-decoration: none;
    color:  #ff00fc;
    transition: 1s;
    font-weight: bold;
}

.navigation-header a:hover{
    color:  #b040ff;
}

.navigation-link-menu  {
    background-color: #414141;
    ;
    padding: 10px;
    border-radius: 10px;
}

.btn-icon-header{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    display: none;
}
