
@media only screen and (max-width: 768px) {
    
    .btn-icon-header{
        display: block;
    }
    
    .navigation-header{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #343434 ;
        height: 100vh;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
        
    }

    html {
        font-size: 13px;
    }
    
      .section {
        padding: 10rem 1.4rem;
    }
    
      .subtitle {
        margin: 0px 0px;
    }

    .section-about-me-content {
        /* Change number of columns */
        grid-template-columns: 1fr;
        row-gap: 60px;
      }
    
      .section-projects ul li {
          /* Change number of columns */
          grid-template-columns: 1fr;
          row-gap: 1.6rem;
        }
    
        .project-content {
          /* Center objects */
          display: flex;
          align-items: center;
          text-align: center;
        }
      
    
      .section-contact form {
          padding: 2rem;
          margin-left: 0.6rem;
          margin-right: 0.6rem;
        }
    
        .section-contact input,
        textarea {
          color: #333;
        }
    
        .section-contact button {
          align-self: stretch;
          font-size: 0.9rem;
          /* // padding-top: 1.4rem;
          // padding-bottom: 1.4rem; */
        }

        /* .subtitle-about{
          color: #d697ff;
          text-shadow: 0.5px 0.5px 1px #b040ff;
          font-size: 1.4rem;
        }
        
        
        .subtitle {
        color: #e8cdfa;
        text-shadow: 0.5px 0.5px 1px #af40ff44;
        } */

        

        .project-img {
          text-align: center;
        }
    }
    
      footer {
        padding: 0px 1.6rem;
    }
        .footer-top {
          display: flex;
          flex-direction: column-reverse;
          gap: 50px;
        }
    
    
      .footer-top {
        > div:first-child {
          width: auto;
        }
}
