$primary-color: #ff00fc;
$background-color: #44475a;
$text-color: #fff;
$link-color: inherit; /* ou outra cor desejada para links */
$button-bg-color: #414141;
$button-text-color: #fff;
$button-hover-color: #b040ff;
$subtitle-color: #777;
$paragraph-color: #f8f8f2;
$section-background: #282a36;
$footer-bg-color: #44475a;
$footer-text-color: #fff;
$footer-border-color: #444;
$footer-link-color: #fff;